    <footer id='footer' class='footer-container'>
      <div class='footer'>
        {{ partial "nav/menus/social" . }}
        {{ partial "footer/copyright" . }}
      </div>
    </footer>

  </div>

  {{- partial "footer/scripts" . -}}
  
  <script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="//cdn.bootcss.com/highlight.js/9.12.0/languages/r.min.js"></script>
  
  <script>
  hljs.configure({languages: []});
  hljs.initHighlightingOnLoad();
  </script>
  
</body>

</html>
