{{ if .Params.large_thumb }}
  <meta name="twitter:card" content="summary_large_image">
{{ else }}
  <meta name="twitter:card" content="summary">
{{ end }}

{{- with .Site.Params.opengraph.twitter.page -}}
  <meta name='twitter:site' content='@jeroenboeye'>
{{- end -}}

{{- range $authorID := .Params.authors -}}
  {{- $author := ( index $.Site.Data.authors $authorID ) -}}
  {{- with $author.social.twitter -}}
    <meta name='twitter:creator' content='@jeroenboeye'>
  {{- end -}}
{{- end -}}

{{- with .Params.cover -}}
  {{- $type := ( printf "%T" . ) -}}
  {{- $isMap := ( not ( eq $type "string" ) ) -}}

  {{- $image := "" -}}
  {{- if $isMap -}}
    {{- $image = .image -}}
  {{- else -}}
    {{- $image = . -}}
  {{- end -}}'>

  {{- $image = ( replaceRE "^\\./" $.RelPermalink $image ) -}}

  <meta property='twitter:image' content='{{- $image | absURL -}}'>
  {{- if $isMap -}}
    {{- with .caption -}}
    <meta property='twitter:image:alt' content='{{ . | markdownify }}'>
    {{- end -}}
  {{- end -}}
{{- end -}}
